<div class="container my-4 p-4 bg-white border rounded shadow-sm">
    <div class="row mb-3">
      <div class="col text-center">
        <h5 class="fw-bold">Resumen del Pedido</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <p><strong>Núm. de pedido:</strong> GSHNP250N000U92</p>
      </div>
      <div class="col-md-6 text-end">
        <p><strong>Fecha:</strong> 14 NOV 2024</p>
      </div>
    </div>
    <div class="row">
      <!--<div class="col-md-12">
        <div class="alert alert-warning text-center">
          <strong>Tiempo restante:</strong> 02:53:19<br />
          (Después de este tiempo, tu pedido será cancelado automáticamente).
        </div>
      </div>-->
    </div>
    <div class="row border-bottom pb-3">
      <div class="col">
        <p class="fw-bold mb-0">Envío Nacional</p>
        <p class="text-muted">NOCIVO - PRISMA</p>
      </div>
    </div>
    <div class="row mt-3">
      <table class="table table-striped">
        <thead class="table-light">
          <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>SKU</th>
            <th>Importe</th>
            <th>Estado</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Playera Camiseta Navideña Año Nuevo Negro (M/M)</td>
            <td>1</td>
            <td>sm24110871356932729</td>
            <td class="text-danger fw-bold">$MXN199.00</td>
            <td>A la espera de pago</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row mt-3">
      <div class="col-md-6">
        <p class="fw-bold">Detalles del precio:</p>
        <ul class="list-unstyled">
          <li><strong>Precio al por menor:</strong> $MXN200.00</li>
          <li><strong>Subtotal:</strong> $MXN199.00</li>
          <li><strong>Precio de envío:</strong> Gratuito</li>
          <li><strong>Garantía de envío:</strong> $MXN19.00</li>
          <li><strong>Total:</strong> $MXN218.00</li>
        </ul>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-6">
        <!--<button class="btn btn-danger w-100">Pagar ahora</button>-->
        <a class="btn btn-danger w-100" type="button" href="/checkout">ATRAS</a>
      </div>
      <div class="col-md-6">
        <!--<button class="btn btn-secondary w-100">Cancelar</button>-->
        <a class="btn btn-secondary w-100" type="button" href="#">SEGUIR COMPRANDO</a>
      </div>
    </div>
  </div>
  